<footer class="pt-4 my-md-5 pt-md-5 border-top footercss">
    <div class="row">
      <div class="col-12 col-md">
        <img class="mb-2" src="../../assets/brand/bootstrap-solid.svg" alt="" width="24" height="24">
        <small class="d-block mb-3 text-muted">&copy; 2017-2018</small>
      </div>
      <div class="col-6 col-md">
        <h5>Categories</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#"> Infographs Writing</a></li>
          <li><a class="text-muted" href="#">Press Releases</a></li>
          <li><a class="text-muted" href="#">Articles</a></li>
          <li><a class="text-muted" href="#">Blogs</a></li>
          <li><a class="text-muted" href="#">White papers</a></li>
          <li><a class="text-muted" href="#">Essays Writing</a></li>
          <li><a class="text-muted" href="#">Tag Lines</a></li>
          
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Resources</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Services</a></li>
          <li><a class="text-muted" href="#">Writers Gallery</a></li>
          <li><a class="text-muted" href="#">Completed Projects</a></li>
          <li><a class="text-muted" href="#">Awarded Write ups</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>About</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">About US</a></li>
          <li><a class="text-muted" href="#">Contact US</a></li>
          </ul>
      </div>
    </div>
  </footer>