
    <div class="container">
        <div class="py-3 text-center">
         <h2>You Have Selected Best Products That Fullfill Your Requirement</h2>
        </div>
  
        <div class="row">
          
          <div class="col-md-10 order-md-1">
              <h4 class="d-flex justify-content-between align-items-center mb-3">
                  <span class="text-muted">Project Summary</span>
                  <span class="text-muted">Add Beuty to Your Product By Adding </span>
                  <span class="badge badge-secondary badge-pill">{{cartProducts['productList'].length}}</span>
                </h4>
              <table class="table table-hover container">
                  <tr>
                      <th>productInfo</th><th style="text-align:center">OtherInfo
                        <table><tr><th>title</th><th>words</th></tr></table>
                      </th><th style="text-align:center">Add On Info <table><tr><th *ngFor="let addonProduct of addonProducts">{{addonProduct.name}}</th></tr></table></th>
                      <th>Total USD</th>
                  </tr>
                  <tr *ngFor="let cartproduct of cartProducts['productList']; let cartProdIndex=index">
                      <td>
                        <div>
                          <h6 class="my-0">{{cartproduct.productName}}</h6>
                           <!-- <small class="text-muted">{{cartproduct.qty}}</small> -->
                        </div>
                      </td>
                      <td>
                          <table>
                            <tr  *ngFor="let oinfo of cartproduct.otherInfo">
                              <td>
                                <label for="title">{{oinfo.name}}</label>
                              </td>
                              <td>
                                  <label for="words">{{oinfo.words}}</label>
                                </td>
                            </tr>
                          </table>
                      </td>
                     
                      <td>
                        <table style="width: 100%;">
                          <tr  *ngFor="let oinfo of cartproduct.otherInfo; let oinfoIndex=index">
                            <td *ngFor="let addonProduct of addonProducts;let i=index">
                                <input type="checkbox" name="{{addonProduct.name}}" id="" (change)="addAddon($event.target,i,cartProdIndex,oinfoIndex)" value="{{addonProduct.value}}">${{addonProduct.value}}
                            </td>
                          </tr>
                        </table>
                         
                      </td>
                      <td>
                          <span class="text-muted">${{cartproduct.total}}</span>
                      </td>
                  </tr>
                </table>
          </div>
        </div>
          <button name="checkout"  (click)="launch()" style="width:200px;height:50px;" class="btn btn-primary" value="launchcontest">Launch A Contest</button>
         
      </div>