
<div>
  <form>
  <div class="row mt-2">
    <div class="col-4"><h2>Project Details</h2></div>
    <div class="col-3"><h6 style="text-align:center">Project Name </h6>
      <input name="projectName" [(ngModel)]= "cartProducts.projectName" type="text" class="form-control"></div>
    <div class="col-3"><h6 style="text-align:center">Project Delivery </h6>
      <select name="delivery" class="form-control" [(ngModel)]="cartProducts.projectDelivery">
          <option value="5">5 Days Delivery</option>
        <option value="7">7 Days Delivery</option>
      <option value="3">3 Days Delivery</option>
      <option value="2">2 Days Delivery</option>
    </select></div>
  </div>
   <!-- <app-cartitem [itemList]="cartProduct" *ngFor="let cartproduct of cartProducts"></app-cartitem> -->
   <table class="table table-hover container" >
      <thead>
        <tr>
          <th></th>
          <th>Product Name</th>
          <th>Qty</th>
          <th>OtherInfo
          </th>
          <th>Price</th>
          <th>  </th>
        </tr>
      </thead>
      <tbody>
          <tr (subtotalCalculator)="subtotalCalculator(data)" [selectedProduct]="cartproduct" [productData]="productData" [addonList]="addonList" (itemToRemove)="removeItem($event)" [itemindex]="i" *ngFor="let cartproduct of cartProducts.productList; let i = index" class="app-cartitem"></tr>
      </tbody>
    </table>
    <div class="container actionButtons mb-3">
      <button name="additem"  (click)="additem()">Add More Item</button>
      <h2 style="text-align:center">PROJECT SUBTOTAL: {{subtotal}}</h2>
      
      <div class="row">
         
      <div class="col-6">
        
      <div style="text-align:right">
          <button name="checkout"  (click)="checkOutItems($event.target.value)" style="width:200px;height:50px;" class="btn btn-primary" value="launchcontest">Launch A Contest</button>
     
        </div>
      </div>
        <div class="col-6"> <!-- Hire GCW Team -->
          <div style="line-height:50px;">
            <button name="checkout"  (click)="checkOutItems($event.target.value)"  value="hiregcwteam"  class="btn btn-primary">Hire Dedicated Team</button>
       
          </div></div>
        </div>
    </div>
  <div class="container-fluid" style="background-color:#f1f1f1">
    <div class="container">
     <!-- Launch Contest Section -->
 
    <div class="row">


    </div>

 
</div>
</div>
</form>
</div>