
        <td class="removeItem"><i class="fas fa-minus-circle" (click)="removeItem(selectedProduct)"></i></td>
        <td>
        <select (change)="onChange($event.target.value)" name= "_id" [(ngModel)]="currentProductData._id">
              <option  *ngFor="let product of productData" value="{{product._id}}">{{product.productName}}</option>
        </select>
        </td>
        <td><input type="number" name="qty" min="1" [(ngModel)]="currentProductData.qty" class="qtyStyle" (focusout)=addtitlelist($event.target.value)></td>
        <!-- <td><select name = "words" class="qtyStyle" [(ngModel)]="currentProductData.words"><option value="{{word}}" *ngFor = "let word of wordList">{{word}}</option></select></td> -->
        <!--<td><input type="number" name="words[]" class="qtyStyle" [(ngModel)]="currentProductData.words"></td> -->
        <td>
              <div style="max-height:200px;overflow:auto">
                 <table class="table" style="width:50%; max-height:100px;overflow:auto;">
                         <tr>
                               <th>title</th>
                               <th>wordscount</th>
                         </tr>            
                  
             <tr *ngFor="let info of currentProductData.otherInfo; let i = index">
                    <td>
                    <input type="text"  name="name" [(ngModel)]="currentProductData.otherInfo[i].name"   required>
                    </td>
            <!--  <td>
              <select name = "addon" [(ngModel)]="currentProductData.otherInfo[i].addon" (change)= "addonchange(i)">
                  <option value="{{addon.productName}}" *ngFor = "let addon of addonList">{{addon.productName}}</option>
              </select>
              </td> -->
              <td>
                    <select name = "words" class="" [(ngModel)]="currentProductData.otherInfo[i].words" (change)="wordscountchange()">
                        <option value="{{word}}" *ngFor = "let word of wordList">{{word}}</option>
                    </select>
              </td>
              <!--<td>
              <input type="number" name="wordscount" [(ngModel)]="currentProductData.otherInfo[i].wordscount" (change)="wordscountchange()" class="qtyStyle" >
             </td> -->
            
            </tr>
            </table>
      </div>
      </td>
       
        <td>
              {{this._config.configuration.currency}}{{currentProductData.total}}
        </td>
        <td>
               
              <ngbd-modal-basic [cartProduct]=cartProducts[itemindex] (updateCartProducts)="updateCartProducts()"></ngbd-modal-basic>
            
       </td>



        