
<div class="row mb-3 justify-content-md-center">
  <div class="col-sm-6 ">
      <form *ngIf="forgotpassStatus">
          <h2>Forgot Password</h2>
          <div class="form-row" >
             <input type="email" [(ngModel)]='loginUserDetails.email' name= "email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">
          </div>
          <div class="form-row mt-1">
              <input type="button" (click)= forgotPassword(loginUserDetails) class="form-control btn-primary" value="Reset Password">
          </div>
      </form>
      <form *ngIf="!forgotpassStatus">
          <h2>Change Password</h2>
          <div class="form-row">
              <div class="col">
                  <label for="New Password">New Password</label>
                  <input type="password" [(ngModel)]= "changePassData.newPassword" name = "newPassword" value="" class="form-control">
                </div>
          </div>
          <div class="form-row">
              <div class="col">
                  <label for="newpassword">New confirm Password</label>
                  <input type="password" [(ngModel)]= "changePassData.confirmPassword" name = "confirmPassword" value="" class="form-control">
                </div>
        </div>
            <div class="form-row mt-1">
            <input type="button" (click)= changePassword(changePassData) class="form-control btn-primary" value="Change Password">
          </div>
        </form>
        </div>
  </div>

