<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">GCW <small style="color:chocolate">Dashboard</small></a>
  <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
  <ul class="navbar-nav px-3">
      <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item  class="nav-link" (click)= "_authService.logoutUser()">
              <mat-icon><i class="fas fa-sign-in-alt"></i></mat-icon>
            <span>logout</span>
          </button>
          <button mat-menu-item>
            <mat-icon ><i class="fas fa-wallet"></i></mat-icon>
            <span>wallet</span>
          </button>
        </mat-menu>
     <!-- <li class="nav-item" *ngIf = "_authService.loggedIn()">
        <a style = "cursor:pointer" class="nav-link" (click)= "_authService.logoutUser()" ><span class="sr-only"></span></a>
    </li> -->
  </ul>
</nav>

<div class="container-fluid dashboard">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <!-- <li class="nav-item">
            <a class="nav-link active" href="#">
              <span data-feather="home"></span>
              Dashboard <span class="sr-only">(current)</span>
            </a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link">
                <i class="far fa-file"></i>
              Orders
            </a>
            <ul>
              <li> <a (click)="showOrders()" routerLinkActive="active">Ordered</a></li>
              <li>In Progress</li>
              <li>Completed</li>
          </ul>

          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="showProducts()">
                <i class="fas fa-shopping-cart"></i>
              Products
            </a>
            <ul>
                <li>Addon </li>
                <li>Regular</li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="showCustomers()">
             <i class="fas fa-users"></i>
              Customers
            </a>
            <ul>
                <li>List</li>
            </ul>
          </li>

          <li class="nav-item">
              <a class="nav-link" (click)="showCustomers()">
                <i class="far fa-file"></i>
                Categories
              </a>
              <ul>
                  <li>List</li>
              </ul>
            </li>
          
        </ul>

      </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="table-responsive">
        <router-outlet></router-outlet>
      </div>
    </main>
  </div>
</div>