
<mat-accordion>
    <mat-expansion-panel *ngFor="let project of data">

      <mat-expansion-panel-header>
        <mat-panel-title>
            {{project.projectName}} 
        </mat-panel-title>
        <mat-panel-description>
          Delivery in   {{project.projectDelivery}} Days
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="row">
       <div class="col">
          <div class="row">
              <div class="col">
          <mat-card *ngFor="let product of project.productList">
                <p>
                  <span matBadge="{{product.qty}}" matBadgeOverlap="false">{{product.productName}}</span>
                </p>
                    <mat-card  *ngFor="let otherInfo of product.otherInfo">
                        {{otherInfo.name}} 
                        
                        <ul>
                         <span style="border-bottom:1px solid blue; font-weight: bold">Addons</span>
                            <li *ngFor="let addonInfo of otherInfo.addonInfo">
                              {{addonInfo.name}} 
                            </li>
                          </ul>

                    </mat-card>
               
          </mat-card>
          </div>
          </div>
          
      </div>
        <div class="col">
            <div class="col">
                <mat-card  *ngIf="userType !== 'writer'">
                  <p *ngIf="project.orderSamples.length !== 0;  else nocoted">Sample Coated</p> 

                  <ng-template #nocoted>
                      <p *ngIf="project.orderSamples">No Sample Coted </p>
                  </ng-template>
                 
                  <mat-expansion-panel *ngFor="let writersSample of project.orderSamples">
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                            By : {{writersSample.writer}}  <small *ngIf="writersSample.accept"  class="fas fa-check" style="float:right;color:chocolate;margin-left:10px"> Accepted</small>
                        </mat-panel-title>
                     
                      </mat-expansion-panel-header>
                      <div *ngFor="let sample of writersSample.samples">
                          <mat-panel-title>
                             <h6>{{sample.category}} <small>{{sample.subCategory}}</small></h6> 
                          </mat-panel-title>
                          <mat-panel-description>
                              <p>
                                   {{sample.sampleContent}}
                             </p>
                                 
                          </mat-panel-description>
                      </div>
                      <mat-panel-title>
                          <button *ngIf="!writersSample.accept" (click)="acceptSample(writersSample.orderId,writersSample.writer)"   mat-button  color="primary">Accept</button>
                      </mat-panel-title>
                  </mat-expansion-panel>

                          
                   
                </mat-card>
                <mat-card  *ngIf="userType === 'writer'">
                  <h6>Coated Samples</h6>
                  
                <div *ngIf="project.orderSamples; else addsample" >
                    
                  <div *ngFor="let writersSample of project.orderSamples">
                    
                      <div *ngFor="let sample of writersSample.samples">
                          <mat-panel-title>
                             <h6>{{sample.category}} <small>{{sample.subCategory}}</small></h6> 
                          </mat-panel-title>
                          <mat-form-field class="example-full-width">
                            <textarea matInput  name="sampleContent" id="" >{{sample.sampleContent}}</textarea>
                          </mat-form-field>
                      </div>
                       <button  mat-button (click)="updateSample()" color="primary">update Sample</button>
                  </div>
                </div>

                  <ng-template #addsample>
                      <div *ngFor="let product of project.productList">
                        <div *ngFor="let otherInfo of product.otherInfo">
                              <mat-panel-title>
                                 <h6>{{product.productName}} <small>{{otherInfo.name}}</small></h6> 
                              </mat-panel-title>
                                      <mat-form-field class="example-full-width">
                                          <textarea matInput  placeholder="Enter Sample Content" name="content" id="" ></textarea>
                              </mat-form-field>
                        </div>
                           
                      </div>
                      <button  mat-button (click)="sendSample()" color="primary">Send Sample</button>
                  </ng-template>
                  
                </mat-card>
            </div>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
  <div class="mb-3"></div>