<mat-accordion>
    <mat-expansion-panel *ngFor="let project of data">
      <mat-expansion-panel-header>
        <mat-panel-title>
            {{project.projectName}}
        </mat-panel-title>
        <mat-panel-description>
          Delivery in   {{project.projectDelivery}} Days
        </mat-panel-description>
      </mat-expansion-panel-header>
     
      <div class="row">
       <div class="col">
          <mat-card *ngFor="let product of project.productList">
              <p>
                  <span matBadge="{{product.qty}}" matBadgeOverlap="false">{{product.productName}}</span>
                </p>
                
               
                    <mat-card  *ngFor="let otherInfo of product.otherInfo">
                        {{otherInfo.name}} 
                        
                        <ul>
                         <span style="border-bottom:1px solid blue; font-weight: bold">Addons</span>
                            <li *ngFor="let addonInfo of otherInfo.addonInfo">
                              {{addonInfo.name}} 
                            </li>
                          </ul>

                        </mat-card>
               
          </mat-card>
          
      </div>
        <div class="col">
            <div class="col">
                <mat-card *ngFor="let product of project.productList">
                  <p>Sample Coated for {{product.productName}}</p> 
                   <small>No Sample Coted </small>
                </mat-card>
            </div>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>