.categories{
    font-size: 1.8rem;
    background: #8c8f90;
    border: none;
    color: white;
    font-weight: 500;
    vertical-align: middle;
    margin-bottom:-1px;
    padding: 0px 3px;
}
.categories i{
    color: yellow;
    font-size: 21px;
}
#categoryCollapse{
    position: absolute;
    right: 47.5%;
    text-align: left;
}
#categoryCollapse li {
    list-style: none;
}
.jumbotron a{
    padding: 9px;
}
.ratingLink{
    font-size: 15px;
    font-weight: 400;
    font-family: fantasy;
    color: yellowgreen;
    -webkit-line-break: after-white-space;
}
@media only screen and (max-width: 768px) {
   .jumbotron .display-4{
    font-size:1rem;
   }
   .jumbotron .display-6{
    font-size:1rem;
}
.jumbotron a {
    padding: 2px;
}
.categories{
    font-size:1.5rem;
}
}
@media (min-width: 768px) {

    /* show 3 items */
   #pricing_info .carousel-inner .active,
   #pricing_info .carousel-inner .active + .carousel-item,
   #pricing_info .carousel-inner .active + .carousel-item + .carousel-item,
   #pricing_info .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item  {
        display: block;
    }
    
    #pricing_info .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    #pricing_info .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
    #pricing_info .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item,
    #pricing_info .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item {
        transition: none;
    }
    
    #pricing_info .carousel-inner .carousel-item-next,
    #pricing_info .carousel-inner .carousel-item-prev {
      position: relative;
      transform: translate3d(0, 0, 0);
    }
    
    #pricing_info .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -25%;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    
    /* left or forward direction */
    #pricing_info  .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    #pricing_info .carousel-item-next.carousel-item-left + .carousel-item,
    #pricing_info .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
    #pricing_info .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item,
    #pricing_info .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    
    /* farthest right hidden item must be abso position for animations */
    #pricing_info .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    
    /* right or prev direction */
    #pricing_info .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    #pricing_info .carousel-item-prev.carousel-item-right + .carousel-item,
    #pricing_info .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
    #pricing_info .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item,
    #pricing_info .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }

}

.carousel-thumbnails .carousel-indicators img {
    max-width: 100px;
    height: 50px;
    overflow: hidden;
    display: block;
}

.carousel-indicators li{
    position: none;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    height: auto;
    margin-right: 0px;
    margin-left: 0px;
    text-indent: 0;
    cursor: pointer;
    display: block;
}

.carousel-indicators {
     position: relative;
     right: 0; 
     bottom: 0;
     left: 0; 
     z-index: 15;
     display: block;
    justify-content: center;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;
    list-style: none;
    min-height: 80px;
    overflow: auto;
    text-align: center;
}
.industryinfo{
    display: block;
    position: absolute;
    z-index: 999;
    margin-left:10%;
    margin-right:10%;
    margin-top:2%;
    margin-bottom: 2%;
    color:white;
}


#carousel-industry{
    margin:5%;
}
