.categories{
    font-size: 1.8rem;
    background: #8c8f90;
    border: none;
    color: white;
    font-weight: 500;
    vertical-align: middle;
    margin-bottom:-1px;
    padding: 0px 3px;
}
.categories i{
    color: yellow;
    font-size: 21px;
}
#categoryCollapse{
    position: absolute;
    right: 50%;
    text-align: left;
}
#categoryCollapse li {
    list-style: none;
}
.jumbotron a{
    padding: 9px;
}
.ratingLink{
    font-size: 15px;
    font-weight: 400;
    font-family: fantasy;
    color: yellowgreen;
    -webkit-line-break: after-white-space;
}
@media only screen and (max-width: 768px) {
   .jumbotron .display-4{
    font-size:1rem;
   }
   .jumbotron .display-6{
    font-size:1rem;
}
.jumbotron a {
    padding: 2px;
}
.categories{
    font-size:1.5rem;
}
}