.categories{
    font-size: 2rem;
    background: #8c8f90;
    border: none;
    color: white;
    font-weight: 500;
    vertical-align: middle;
}
.jumbotron a{
    padding: 9px;
}
@media only screen and (max-width: 768px) {
   .jumbotron .display-4{
    font-size:1rem;
   }
   .jumbotron .display-6{
    font-size:1rem;
}
}